/*

!/.gitignore

!/*.xpr 

!/*.srcs
!/*.srcs/*
!/*.sdk
!/*.sdk/*
/*.sdk/*/Debug
/*.sdk/*/Release
/*.sdk/webtalk
/*.sdk/.metadata
/*.sdk/.sdk
/*.sdk/RemoteSystemsTempFiles 
/*.sdk/SDK.log 

!/scripts
!/scripts/*

